<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/jhonatan/style_principal.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <title>Inicio de sesión</title>
</head>
<body>

<div class="formulario">
    <h1>INICIO DE SESION</h1>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="email" class="form-control" placeholder="Correo" aria-label="Correo" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1">
    </div>

    <div class="row row-cols-2">
        <div class="col">
            <a class="btn btn-custom-2" href="#">Iniciar sesión</a>
        </div>
        <div class="col">
            <a class="btn btn-custom-1" href="./registro_Usuario.html">Registrarse</a>
        </div>
    </div>

    <div class="row row-cols-1">
        <p class="recu">¿Olvidó su contraseña? <a class="text-recuperacion" href="#">Recuperar Contraseña</a></p>      
    </div>
</div>
<script src="../static/js/jhonatan/imicio.js"></script>
</body>
</html>
