:root {
    --primary-color: #0c1178;
    --body-color: #f7f8fa;
    --secundary-color: #5d64f0;
    --action-color: #c1c3f7;
    --text-color: #ffffff;
}
.carousel-item{
    height: 400px;
}
.card-body{
    height: 120px;
}
.fondo-azul{
    background-color: var(--primary-color);
}
.fondo-boton{
    background-color: var(--primary-color);
    color: var(--text-color);
}
.fondo-boton:hover {
    background-color:var(--secundary-color)!important;
}
.cambia-color:hover {
    color:var(--secundary-color) !important
}
.letra-azul {
    color: var(--primary-color);
    text-decoration: none !important;
}
.bi-facebook{
    color: #3b5998;
}
.bi-twitter{
    color: #1da1f2;
}
.bi-instagram{
    color: #c32aa3;
}
